.main {
  background-color: #1e1f23;
  width: 100%;
  min-width: 360px;
  min-height: 736px;
  display: flex;
  flex-direction: column;
}

.main .app-bar {
  width: 360px;
  height: 56px;
  position: relative;
  background-color: #1f2024;
}

.main .frame {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px 0px 8px 8px;
  position: absolute;
  top: 8px;
  left: 312px;
  background-color: #1f2024;
}

.main .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.main .div {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 16px;
  left: calc(50.00% - 88px);
  background-color: #1f2024;
}

.main .logo {
  width: 64px;
  aspect-ratio: 2.66;
  position: relative;
  height: 24px;
}

.main .logo-2 {
  width: 88px;
  aspect-ratio: 3.65;
  position: relative;
  height: 24px;
}

.main .frame-wrapper {
  display: flex;
  margin-left: 16px;
  width: 328px;
  height: 392px;
  position: relative;
  margin-top: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.main .frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .frame-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #2a2a29;
}

.main .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.main .december {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.main .ico-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.main .frame-5 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .frame-7 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.main .s-copy {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #adaba5;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .text-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 47px;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #adaba5;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .frame-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .div-wrapper {
  display: flex;
  width: 46px;
  height: 50px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 8px 0px;
  position: relative;
}

.main .element {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #d8d7d4;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .frame-10 {
  display: flex;
  flex-direction: column;
  width: 47px;
  height: 50px;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
  position: relative;
}

.main .element-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #d8d7d4;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .element-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 2px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -2.00px;
  background-color: #e4ca921a;
  border-radius: 0px 2px 2px 0px;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #a17e36;
}

.main .element-3 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #e4ca92;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10px;
}

.main .frame-11 {
  width: 47px;
  height: 50px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 8px 0px;
  display: flex;
  position: relative;
}

.main .frame-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 16px;
}

.main .element-4 {
  position: relative;
  width: 38px;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #d8d7d4;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .group {
  position: relative;
  width: 47px;
  height: 33px;
}

.main .oval {
  position: absolute;
  top: -1px;
  left: 6px;
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  border: 1px solid;
  border-color: #e4ca92;
  background: linear-gradient(
    279deg,
    rgba(228, 202, 146, 1) 0%,
    rgba(161, 126, 54, 1) 100%
  );
}

.main .frame-13 {
  display: flex;
  width: 47px;
  height: 14px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  position: absolute;
  top: 9px;
  left: 0;
}

.main .element-5 {
  position: relative;
  width: fit-content;
  margin-top: -9.00px;
  margin-bottom: -7.00px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e1f23;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.main .frame-14 {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .frame-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .frame-16 {
  height: 50px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 8px 0px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.main .frame-17 {
  flex-direction: column;
  height: 50px;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.main .frame-18 {
  align-items: center;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.main .element-6 {
  position: relative;
  width: 40px;
  margin-top: -1.00px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #d8d7d4;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
}

.main .frame-19 {
  display: flex;
  margin-left: 16px;
  width: 328px;
  height: 180px;
  position: relative;
  margin-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.main .frame-20 {
  display: flex;
  width: 328px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.main .frame-21 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 16px;
  position: relative;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  background: linear-gradient(
    283deg,
    rgba(41, 41, 44, 1) 0%,
    rgba(35, 36, 40, 1) 50%,
    rgba(30, 31, 35, 1) 100%
  );
}

.main .frame-21::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 2px;
  background: linear-gradient(
    283deg,
    rgba(72, 72, 72, 1) 0%,
    rgba(49, 49, 49, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.main .frame-22 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 16px;
  position: relative;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  background: linear-gradient(
    283deg,
    rgba(30, 31, 35, 1) 0%,
    rgba(35, 36, 40, 1) 50%,
    rgba(41, 41, 44, 1) 100%
  );
}

.main .frame-22::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 2px;
  background: linear-gradient(
    283deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(72, 72, 72, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .frame-23 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  gap: 8px;
  padding: 20px 16px;
  position: relative;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  background: linear-gradient(
    283deg,
    rgba(41, 41, 44, 1) 0%,
    rgba(35, 36, 40, 1) 50%,
    rgba(30, 31, 35, 1) 100%
  );
}

.main .frame-23::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 2px;
  background: linear-gradient(
    283deg,
    rgba(72, 72, 72, 1) 0%,
    rgba(49, 49, 49, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .frame-24 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  gap: 8px;
  padding: 20px 16px;
  position: relative;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  background: linear-gradient(
    283deg,
    rgba(30, 31, 35, 1) 0%,
    rgba(35, 36, 40, 1) 50%,
    rgba(41, 41, 44, 1) 100%
  );
}

.main .frame-24::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 2px;
  background: linear-gradient(
    283deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(72, 72, 72, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .app-bar-wrapper {
  margin-top: 27px;
  display: flex;
  align-items: flex-start;
  min-width: 360px;
}

.main .group-wrapper {
  width: 360px;
  display: flex;
  align-items: flex-end;
}

.main .group-2 {
  width: 360px;
  height: 56px;
  display: flex;
  align-items: flex-end;
  background-color: #17181b;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #2a2a29;
}

.main .frame-25 {
  display: flex;
  margin-bottom: 7px;
  width: 328px;
  height: 43px;
  margin-left: 16px;
  position: relative;
  align-items: center;
}

.main .frame-26 {
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.main .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #e4ca92;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.main .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #adaba6;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.main .group-3 {
  position: relative;
  height: 81.25%;
  top: 8.33%;
  left: calc(50.00% - 9px);
  width: 18px;
}

.main .rectangle {
  position: absolute;
  height: 92.31%;
  top: 7.69%;
  left: calc(50.00% - 9px);
  width: 18px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #adaba6;
}

.main .line {
  top: 6px;
  left: 0;
  width: 18px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.main .line-2 {
  top: 0;
  left: 4px;
  width: 1px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}

.main .line-3 {
  top: 0;
  left: 13px;
  width: 1px;
  height: 4px;
  position: absolute;
  object-fit: cover;
}